body {
  background: #EFEFEF;
  padding: 30px;
}

.content {
  background-color: #fff;
  padding: 50px;
  font-size: 19px;
  line-height: 1.5;
  min-height: 3000px;
}

.scroll-line {
  position: fixed;
  top: 0;
  left: 0;
  height: 15px;
  background: #1CE;
  transition: 0.5s width;
}
